<div id="top-line"></div>

<div class="row">
  <div class="col-2" >
  </div>
  <div class="col-8">
    <nav>
      <a routerLink="/home" [routerLinkActive]="'active'" class="menu-bar-item">Homepage</a>
      <a routerLink="/rules" [routerLinkActive]="'active'" class="menu-bar-item">Rules</a>
      <a routerLink="/rules" [routerLinkActive]="'active'" class="menu-bar-item">Schedule</a>
      <a routerLink="/rules" [routerLinkActive]="'active'" class="menu-bar-item">Competitor zone</a>
      <a routerLink="/rules" [routerLinkActive]="'active'" class="menu-bar-item">For kids</a>
      <a routerLink="/rules" [routerLinkActive]="'active'" class="menu-bar-item">Partners</a>
    </nav>
  </div>
  <div class="col-2" >

  </div>
</div>


<div id="bootom-line"></div>

