<div class="bg-img">
  <img src="../../../assets/img/main_background/1920-pl.png" (load)="onLoadImage()" class="img-fluid"
       alt="Responsive image" id="image">
</div>
<div class="top-container" id="container"></div>
<header id="navbar">
  <div class="container"></div>
  <app-menu-bar></app-menu-bar>
</header>

<section (scroll)="onWindowScroll($event);">
  <div class="content">
    <app-header></app-header>

    <div class="row">
      <div class="col-2"></div>
      <div class="col-8">
        Baltic Robot Fights is an event that's one of a kind. It combines amateur robotics, a small student conference
        and hackathon. The first edition will take place the 26-27 th of may 2018 in Tricity. It is organised by
        Robotics
        Association SKALP and NKSA which, until now, independently organised the Tricity Robot Tournament and Roboxy.
        The main part of the event is amateur robotics. It consists of 12 different competitions grouped in 5
        categories.
        The second part of the event is a conferene, directed to european robot building teams.
        The last part of the event is Robo Hackathon.Baltic Robot Fights is an event that's one of a kind. It combines
        amateur robotics, a small student conference and hackathon. The first edition will take place the 26-27 th of
        may
        2018 in Tricity. It is organised by Robotics Association SKALP and NKSA which, until now, independently
        organised
        the Tricity Robot Tournament and Roboxy.
        The main part of the event is amateur robotics. It consists of 12 different competitions grouped in 5
        categories.
        The second part of the event is a conferene, directed to european robot building teams.
        The last part of the event is Robo Hackathon.Baltic Robot Fights is an event that's one of a kind. It combines
        amateur robotics, a small student conference and hackathon. The first edition will take place the 26-27 th of
        may
        2018 in Tricity. It is organised by Robotics Association SKALP and NKSA which, until now, independently
        organised
        the Tricity Robot Tournament and Roboxy.
        The main part of the event is amateur robotics. It consists of 12 different competitions grouped in 5
        categories.
        The second part of the event is a conferene, directed to european robot building teams.
        The last part of the event is Robo Hackathon.Baltic Robot Fights is an event that's one of a kind. It combines
        amateur robotics, a small student conference and hackathon. The first edition will take place the 26-27 th of
        may
        2018 in Tricity. It is organised by Robotics Association SKALP and NKSA which, until now, independently
        organised
        the Tricity Robot Tournament and Roboxy.
        The main part of the event is amateur robotics. It consists of 12 different competitions grouped in 5
        categories.
        The second part of the event is a conferene, directed to european robot building teams.
        The last part of the event is Robo Hackathon.Baltic Robot Fights is an event that's one of a kind. It combines
        amateur robotics, a small student conference and hackathon. The first edition will take place the 26-27 th of
        may
        2018 in Tricity. It is organised by Robotics Association SKALP and NKSA which, until now, independently
        organised
        the Tricity Robot Tournament and Roboxy.
        The main part of the event is amateur robotics. It consists of 12 different competitions grouped in 5
        categories.
        The second part of the event is a conferene, directed to european robot building teams.
        The last part of the event is Robo Hackathon.Baltic Robot Fights is an event that's one of a kind. It combines
        amateur robotics, a small student conference and hackathon. The first edition will take place the 26-27 th of
        may
        2018 in Tricity. It is organised by Robotics Association SKALP and NKSA which, until now, independently
        organised
        the Tricity Robot Tournament and Roboxy.
        The main part of the event is amateur robotics. It consists of 12 different competitions grouped in 5
        categories.
        The second part of the event is a conferene, directed to european robot building teams.
        The last part of the event is Robo Hackathon.Baltic Robot Fights is an event that's one of a kind. It combines
        amateur robotics, a small student conference and hackathon. The first edition will take place the 26-27 th of
        may
        2018 in Tricity. It is organised by Robotics Association SKALP and NKSA which, until now, independently
        organised
        the Tricity Robot Tournament and Roboxy.
        The main part of the event is amateur robotics. It consists of 12 different competitions grouped in 5
        categories.
        The second part of the event is a conferene, directed to european robot building teams.
        The last part of the event is Robo Hackathon.Baltic Robot Fights is an event that's one of a kind. It combines
        amateur robotics, a small student conference and hackathon. The first edition will take place the 26-27 th of
        may
        2018 in Tricity. It is organised by Robotics Association SKALP and NKSA which, until now, independently
        organised
        the Tricity Robot Tournament and Roboxy.
        The main part of the event is amateur robotics. It consists of 12 different competitions grouped in 5
        categories.
        The second part of the event is a conferene, directed to european robot building teams.
        The last part of the event is Robo Hackathon.Baltic Robot Fights is an event that's one of a kind. It combines
        amateur robotics, a small student conference and hackathon. The first edition will take place the 26-27 th of
        may
        2018 in Tricity. It is organised by Robotics Association SKALP and NKSA which, until now, independently
        organised
        the Tricity Robot Tournament and Roboxy.
        The main part of the event is amateur robotics. It consists of 12 different competitions grouped in 5
        categories.
        The second part of the event is a conferene, directed to european robot building teams.
        The last part of the event is Robo Hackathon.Baltic Robot Fights is an event that's one of a kind. It combines
        amateur robotics, a small student conference and hackathon. The first edition will take place the 26-27 th of
        may
        2018 in Tricity. It is organised by Robotics Association SKALP and NKSA which, until now, independently
        organised
        the Tricity Robot Tournament and Roboxy.
        The main part of the event is amateur robotics. It consists of 12 different competitions grouped in 5
        categories.
        The second part of the event is a conferene, directed to european robot building teams.
        The last part of the event is Robo Hackathon.Baltic Robot Fights is an event that's one of a kind. It combines
        amateur robotics, a small student conference and hackathon. The first edition will take place the 26-27 th of
        may
        2018 in Tricity. It is organised by Robotics Association SKALP and NKSA which, until now, independently
        organised
        the Tricity Robot Tournament and Roboxy.
        The main part of the event is amateur robotics. It consists of 12 different competitions grouped in 5
        categories.
        The second part of the event is a conferene, directed to european robot building teams.
        The last part of the event is Robo Hackathon.Baltic Robot Fights is an event that's one of a kind. It combines
        amateur robotics, a small student conference and hackathon. The first edition will take place the 26-27 th of
        may
        2018 in Tricity. It is organised by Robotics Association SKALP and NKSA which, until now, independently
        organised
        the Tricity Robot Tournament and Roboxy.
        The main part of the event is amateur robotics. It consists of 12 different competitions grouped in 5
        categories.
        The second part of the event is a conferene, directed to european robot building teams.
        The last part of the event is Robo Hackathon.Baltic Robot Fights is an event that's one of a kind. It combines
        amateur robotics, a small student conference and hackathon. The first edition will take place the 26-27 th of
        may
        2018 in Tricity. It is organised by Robotics Association SKALP and NKSA which, until now, independently
        organised
        the Tricity Robot Tournament and Roboxy.
        The main part of the event is amateur robotics. It consists of 12 different competitions grouped in 5
        categories.
        The second part of the event is a conferene, directed to european robot building teams.
        The last part of the event is Robo Hackathon.Baltic Robot Fights is an event that's one of a kind. It combines
        amateur robotics, a small student conference and hackathon. The first edition will take place the 26-27 th of
        may
        2018 in Tricity. It is organised by Robotics Association SKALP and NKSA which, until now, independently
        organised
        the Tricity Robot Tournament and Roboxy.
        The main part of the event is amateur robotics. It consists of 12 different competitions grouped in 5
        categories.
        The second part of the event is a conferene, directed to european robot building teams.
        The last part of the event is Robo Hackathon.Baltic Robot Fights is an event that's one of a kind. It combines
        amateur robotics, a small student conference and hackathon. The first edition will take place the 26-27 th of
        may
        2018 in Tricity. It is organised by Robotics Association SKALP and NKSA which, until now, independently
        organised
        the Tricity Robot Tournament and Roboxy.
        The main part of the event is amateur robotics. It consists of 12 different competitions grouped in 5
        categories.
        The second part of the event is a conferene, directed to european robot building teams.
        The last part of the event is Robo Hackathon.Baltic Robot Fights is an event that's one of a kind. It combines
        amateur robotics, a small student conference and hackathon. The first edition will take place the 26-27 th of
        may
        2018 in Tricity. It is organised by Robotics Association SKALP and NKSA which, until now, independently
        organised
        the Tricity Robot Tournament and Roboxy.
        The main part of the event is amateur robotics. It consists of 12 different competitions grouped in 5
        categories.
        The second part of the event is a conferene, directed to european robot building teams.
        The last part of the event is Robo Hackathon.The main part of the event is amateur robotics. It consists of 12
        different competitions grouped in 5 categories.
        The second part of the event is a conferene, directed to european robot building teams.
        The last part of the event is Robo Hackathon.Baltic Robot Fights is an event that's one of a kind. It combines
        amateur robotics, a small student conference and hackathon. The first edition will take place the 26-27 th of
        may
        2018 in Tricity. It is organised by Robotics Association SKALP and NKSA which, until now, independently
        organised
        the Tricity Robot Tournament and Roboxy.
        The main part of the event is amateur robotics. It consists of 12 different competitions grouped in 5
        categories.
        The second part of the event is a conferene, directed to european robot building teams.
        The last part of the event is Robo Hackathon.Baltic Robot Fights is an event that's one of a kind. It combines
        amateur robotics, a small student conference and hackathon. The first edition will take place the 26-27 th of
        may
        2018 in Tricity. It is organised by Robotics Association SKALP and NKSA which, until now, independently
        organised
        the Tricity Robot Tournament and Roboxy.
        The main part of the event is amateur robotics. It consists of 12 different competitions grouped in 5
        categories.
        The second part of the event is a conferene, directed to european robot building teams.
        The last part of the event is Robo Hackathon.The main part of the event is amateur robotics. It consists of 12
        different competitions grouped in 5 categories.
        The second part of the event is a conferene, directed to european robot building teams.
        The last part of the event is Robo Hackathon.Baltic Robot Fights is an event that's one of a kind. It combines
        amateur robotics, a small student conference and hackathon. The first edition will take place the 26-27 th of
        may
        2018 in Tricity. It is organised by Robotics Association SKALP and NKSA which, until now, independently
        organised
        the Tricity Robot Tournament and Roboxy.
        The main part of the event is amateur robotics. It consists of 12 different competitions grouped in 5
        categories.
        The second part of the event is a conferene, directed to european robot building teams.
        The last part of the event is Robo Hackathon.Baltic Robot Fights is an event that's one of a kind. It combines
        amateur robotics, a small student conference and hackathon. The first edition will take place the 26-27 th of
        may
        2018 in Tricity. It is organised by Robotics Association SKALP and NKSA which, until now, independently
        organised
        the Tricity Robot Tournament and Roboxy.
        The main part of the event is amateur robotics. It consists of 12 different competitions grouped in 5
        categories.
        The second part of the event is a conferene, directed to european robot building teams.
        The last part of the event is Robo Hackathon.The main part of the event is amateur robotics. It consists of 12
        different competitions grouped in 5 categories.
        The second part of the event is a conferene, directed to european robot building teams.
        The last part of the event is Robo Hackathon.Baltic Robot Fights is an event that's one of a kind. It combines
        amateur robotics, a small student conference and hackathon. The first edition will take place the 26-27 th of
        may
        2018 in Tricity. It is organised by Robotics Association SKALP and NKSA which, until now, independently
        organised
        the Tricity Robot Tournament and Roboxy.
        The main part of the event is amateur robotics. It consists of 12 different competitions grouped in 5
        categories.
        The second part of the event is a conferene, directed to european robot building teams.
        The last part of the event is Robo Hackathon.Baltic Robot Fights is an event that's one of a kind. It combines
        amateur robotics, a small student conference and hackathon. The first edition will take place the 26-27 th of
        may
        2018 in Tricity. It is organised by Robotics Association SKALP and NKSA which, until now, independently
        organised
        the Tricity Robot Tournament and Roboxy.
        The main part of the event is amateur robotics. It consists of 12 different competitions grouped in 5
        categories.
        The second part of the event is a conferene, directed to european robot building teams.
        The last part of the event is Robo Hackathon.
      </div>
      <div class="col-2"></div>
    </div>
  </div>
</section>


